// Chromium-based browsers
window-rule {
    match app-id=r#"((google-)?[cC]hrom(e|ium)|[bB]rave-browser|[mM]icrosoft-edge|Vivaldi-stable|helium)"#
    tiled-state true
}

// Remove /- if you prefer this rule to be active.
/-window-rule {
    match is-active=false app-id=r#"((google-)?[cC]hrom(e|ium)|[bB]rave-browser|[mM]icrosoft-edge|Vivaldi-stable|helium)"#
    opacity 0.95
}

// Firefox-based browsers
window-rule {
    match app-id=r#"([fF]irefox|zen|librewolf)"#
    border{
      width 3 //matching system border width 2
              // for some reason firefox border was thinner.
    }
}

// Remove /- if you want you prefer this rule to be active.
/-window-rule {
    match is-active=false app-id=r#"([fF]irefox|zen|librewolf)"#
    opacity 0.95
}

// Video apps (exclude opacity)
window-rule {
    match app-id=r#".*-youtube.com__*."#
    opacity 1.0
}
