window-rule {
    match app-id="org.telegram.desktop"
    open-focused false
}

window-rule {
    match app-id=r#"^Hermes$"# title=r#"^Hermes HUD$"#
    open-floating true
    opacity 1.0
    border { off; }
}
