// Steam
window-rule {
    match app-id=r#"steam.*"#
    open-floating true
    opacity 1.0
}

window-rule {
    match app-id="steam" title="Steam"
    default-column-width { fixed 1100; }
    default-window-height { fixed 700; }
}

window-rule {
    match app-id="steam" title="Friends List"
    default-column-width { fixed 460; }
    default-window-height { fixed 800; }
}

// RetroArch
window-rule {
    match app-id="com.libretro.RetroArch"
    open-fullscreen true
    opacity 1.0
}

// Battle.net (via Proton)
window-rule {
    match app-id=r#"^steam_app_battlenet$"# title=r#"^Battle\.net$"#
    open-floating true
    default-column-width { fixed 1280; }
    default-window-height { fixed 800; }
}

// Moonlight game streaming
window-rule {
    match app-id="com.moonlight_stream.Moonlight"
    open-fullscreen true
}

// GeForce NOW
window-rule {
    match app-id="GeForceNOW"
    open-fullscreen true
}

// QEMU / virt-viewer
window-rule {
    match app-id=r#"(qemu|virt-viewer)"#
    opacity 1.0
}
