window-rule {
    match app-id=r#"(Share|localsend)"#
    open-floating true
}

window-rule {
    match app-id="localsend"
    default-column-width { fixed 1100; }
    default-window-height { fixed 700; }
}
