window-rule {
    match app-id=r#"(1[pP]assword|[bB]itwarden)"#
    block-out-from "screen-capture"
    open-floating true
}

window-rule {
    match app-id=r#"chrome-nngceckbapebfimnlniiiahkandclblb-Default"#
    block-out-from "screen-capture"
    open-floating true
}
