include "~/.local/share/omarchy/default/niri/apps/system.kdl"
include "~/.local/share/omarchy/default/niri/apps/terminals.kdl"
include "~/.local/share/omarchy/default/niri/apps/password-managers.kdl"
include "~/.local/share/omarchy/default/niri/apps/webcam-overlay.kdl"
include "~/.local/share/omarchy/default/niri/apps/pip.kdl"
include "~/.local/share/omarchy/default/niri/apps/walker.kdl"
include "~/.local/share/omarchy/default/niri/apps/browser.kdl"
include "~/.local/share/omarchy/default/niri/apps/localsend.kdl"
include "~/.local/share/omarchy/default/niri/apps/telegram.kdl"
include "~/.local/share/omarchy/default/niri/apps/hermes.kdl"
include "~/.local/share/omarchy/default/niri/apps/jetbrains.kdl"
include "~/.local/share/omarchy/default/niri/apps/davinci-resolve.kdl"
include "~/.local/share/omarchy/default/niri/apps/gaming.kdl"
