include "~/.local/share/omarchy/default/niri/apps/system.kdl"
include "~/.local/share/omarchy/default/niri/apps/terminals.kdl"
include "~/.local/share/omarchy/default/niri/apps/password-managers.kdl"
include "~/.local/share/omarchy/default/niri/apps/webcam-overlay.kdl"
include "~/.local/share/omarchy/default/niri/apps/pip.kdl"
include "~/.local/share/omarchy/default/niri/apps/walker.kdl"
include "~/.local/share/omarchy/default/niri/apps/browser.kdl"

