// Systemd & DBus fixes first
//spawn-sh-at-startup "systemctl --user import-environment $(env | cut -d'=' -f 1)"
//spawn-sh-at-startup "dbus-update-activation-environment --systemd --all"

// Theme-sensitive / visual apps

spawn-sh-at-startup "uwsm app -- swaybg -i ~/.config/omarchy/current/background -m fill"
spawn-at-startup "uwsm" "app" "--" "waybar"
//spawn-at-startup "uwsm" "app" "--" "swayosd-server"
spawn-at-startup "uwsm" "app" "--" "mako"
spawn-sh-at-startup "uwsm app -- swayidle -w -C ~/.config/swayidle/swayidle.conf"

//Polkit agent
spawn-at-startup "/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1"

// First-run commands
// spawn-sh-at-startup "omarchy-cmd-first-run"


