prefer-no-csd

window-rule {
    open-maximized false
    open-maximized-to-edges false
    open-fullscreen false
    draw-border-with-background false
    opacity 0.85

}

window-rule {
    match is-focused=false
    background-effect {
        blur true
    }
}
window-rule{
    match is-focused=true
    opacity 1.0
}

window-rule {
    match is-floating=true
    clip-to-geometry true
    geometry-corner-radius 8
    background-effect {
        blur true
        // xray false  //I prefer floating windows "xray true",
                      // You can do "xray false" if you want to.
    }
}

//apps sepecific tweeks
include "apps.kdl"

