prefer-no-csd

window-rule {
    open-maximized false
    open-maximized-to-edges false
    open-fullscreen false
    draw-border-with-background false
}

window-rule {
    match is-focused=false
    opacity 0.85
    background-effect {
        blur true
        xray false
    }
}

window-rule {
    match is-floating=true
    clip-to-geometry true
    geometry-corner-radius 8
}

//apps sepecific tweeks
include "~/.local/share/omarchy/default/niri/apps.kdl"

