[Unit]
Description=Omarchy Battery Monitor Timer
Requires=omarchy-battery-monitor.service

[Timer]
OnBootSec=1min
OnUnitActiveSec=10sec
AccuracySec=5sec

[Install]
WantedBy=timers.target