@import "../omarchy/current/theme/waybar.css";
* {
    background-color: @background;
    color: @foreground;

    font-family: '0xProto Nerd Font';
    border: none;
    border-radius: 0;
    font-weight: bold;
    font-size: 15px;
}

#cpu,
#memory,
#workspaces,
#taskbar,
#window,
#clock,
#battery,
#pulseaudio,
#network,
#bluetooth,
#backlight {
    padding: 5px 10px;
    margin: 0px 0px;
    margin-top: 2px;
}

#workspaces {
    margin-right:10px;
    padding: 0px 10px;
}

#custom-screenrecording-indicator {
  min-width: 12px;
  margin:0px 10px;
}

#custom-screenrecording-indicator.active {
  color: #a55555;
}

#workspaces button {
    all:initial;
    padding: 0.05rem;
    margin-right:10px;
    min-height: 0;
}

#taskbar{
  padding: 0;
}

#taskbar button{
  all:initial;
  padding: 0 10px ;
}

#taskbar button.active {
    opacity: 0;
    padding: 0;
    margin-left:-20px;
}







#clock tooltip {
  background-color: #282828;
  border: 1px solid #7daea3;
  border-radius: 8px;
}

#clock tooltip label {
  color: #d4be98;
}
