[Desktop Entry]
Version=1.0
Name=Omarchy
Type=Application
Icon=/home/rawalrauf/.local/share/omarchy/applications/icons/chrome-github.com__rawalrauf_omarchy-Default.png
NoDisplay=true
