[Desktop Entry]
Version=1.0
Name=Bluetooth
Type=Application
Icon=/home/rawalrauf/.local/share/icons/hicolor/512x512@2/apps/org.omarchy.bluetui.png
NoDisplay=true
