[Desktop Entry]
Version=1.0
Name=Audio
Type=Application
Icon=/home/rawalrauf/.local/share/icons/hicolor/512x512@2/apps/org.omarchy.wiremix.png
NoDisplay=true
