[Desktop Entry]
Version=1.0
Name=Wi-Fi
Type=Application
Icon=/home/rawalrauf/.local/share/icons/hicolor/512x512@2/apps/org.omarchy.impala.png
NoDisplay=true
