binds {
    Mod+Q repeat=false { close-window; }
    Mod+T hotkey-overlay-title="Open a Terminal: alacritty" { spawn "xdg-terminal-exec"; }

    Super+Space hotkey-overlay-title="Omarchy Menu" { spawn-sh "omarchy-menu"; }
    Super+Alt+Space hotkey-overlay-title="Apps Menu" { spawn-sh "omarchy-menu apps"; }
}
