binds {

    Mod+Q repeat=false { close-window; }
    Mod+T hotkey-overlay-title="Open a Terminal: alacritty" { spawn "xdg-terminal-exec"; }
    Mod+D hotkey-overlay-title="Run an Application: fuzzel" { spawn "fuzzel"; }
    Super+Alt+L hotkey-overlay-title="Lock the Screen" { spawn-sh "omarchy-system-lock"; }

    Super+Space hotkey-overlay-title="Omarchy Menu" { spawn-sh "omarchy-menu"; }
    Super+Alt+Space hotkey-overlay-title="Apps Menu" { spawn-sh "omarchy-menu apps"; }

    Super+Alt+S allow-when-locked=true hotkey-overlay-title=null { spawn-sh "pkill orca || exec orca"; }

    Mod+O repeat=false { toggle-overview; }

    Print { spawn-sh "omarchy-capture-screenshot"; }
    Ctrl+Print { spawn-sh "omarchy-capture-screenshot fullscreen"; }
    Alt+Print { spawn-sh "omarchy-capture-screenshot window"; }

    Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

    Mod+Shift+E { quit; }

    Mod+Shift+P { power-off-monitors; }
    Mod+P { toggle-window-rule-opacity; }

    Super+Period hotkey-overlay-title="Emoji Picker" { spawn-sh "omarchy-launch-walker -p ':'"; }
    Super+Ctrl+V allow-when-locked=true hotkey-overlay-title=null { spawn-sh "omarchy-launch-walker -m clipboard"; }
}
